.navlink:hover{
  text-decoration: underline;
  cursor: pointer;
}

.bannerLink span:hover{
  cursor: pointer;
}


ul a:hover{
  text-decoration: underline;
}

.faqs{
  margin-bottom: auto;
  display: grid;
}

.collapsible {
  color: rgb(55 65 81);
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}

.collapsible:after {
  content: "\02C5";
  color: rgb(55 65 81);
  float: right;
}

.faqactive:after {
  content: "\2212";
}

.content{
  background-color: #ffff;
  overflow: hidden;
  padding: 0 1.5rem;
}

.show_content {
  max-height: 100rem; /* Set it to a large value to allow for content expansion */
  transition: max-height .9s ease-in; /* Adjust the duration to your preference */
}

.hide_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .9s ease-out; /* Adjust the duration to your preference */
}

/* Your CSS file or style block */
@keyframes zoom {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2); /* Change the scale factor for the desired zoom level */
  }
}

.custom-list {
  list-style-type: disc; /* or any other desired list style */
  list-style-position: inside;
  text-indent: -1.5rem;
  padding-left: 1.5rem;
  gap: 1rem; /* Adjust the gap between list items */
  text-align: left;
}